.about-us-section {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
              url('../../../assets/images/home/hero.jpeg') center/cover no-repeat;
  min-height: 100vh;
  padding-top: 80px;
}
